.navbar {
    @apply bg-black text-blue-400;
}

.nav-cont {
    @apply px-3 py-2;
    box-shadow: 0 0 1px white inset;
}

.nav-title-and-menu-icon {
    @apply flex justify-between;
}

.nav-title-cont {
    @apply flex;
}


.nav-title-first-letter-box {
    @apply font-bold text-6xl;
    align-content: center;
}

.nav-title-first-letter{
    text-shadow: 1px 1px 4px #ff0000, -1px -1px 4px #ff0000;
}

.nav-title-second-word-boxes {
    @apply p-0 m-0 flex flex-col justify-around font-bold relative;
}






.nav-title-second-word-box {
    @apply text-xl absolute;
}

.nav-title-second-word-box h4{
    text-shadow: 1px 1px 4px #ff0000, -1px -1px 4px #ff0000;
}


.nav-title-second-word-box1 {
    @apply top-1 text-red-400;
}



.nav-title-second-word-box2 {
    @apply bottom-2 mt-1 text-green-400;
}






.nav-menu-cont {
    @apply text-2xl;
    align-content: center;
}

.nav-menu-list {
    @apply px-2 m-1 bg-black font-bold absolute right-0;
}

.nav-menus {
    display: block;
}

.nav-menus li{
    @apply mt-2 mb-2 p-1;
    border: 1px solid grey;
}


.nav-menus.show {
    display: none;
}