.intro {
    @apply min-h-screen flex flex-col items-center justify-center bg-black;
}

.intro-gigenta-global{
    @apply text-4xl font-bold text-green-400;
}

.intro-service{
  @apply text-blue-400 text-4xl mt-[30px];
}

.intro-introduction{
    @apply text-white text-center w-[275px] mt-[30px] opacity-65;
}

.intro-to-home-link{
    @apply bg-blue-800 text-white px-8 py-1 rounded-md mt-[30px];
}